<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="e_support_desk.Properties.Settings.e_supportConnectionString"
            connectionString="Data Source=DESKTOP-ENDPDP1;Initial Catalog=e_support;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>